body {
  /* background-color: #76a9e0; */
  background-image: url("https://images.pexels.com/photos/3060324/pexels-photo-3060324.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-color: #b2bec3;
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  margin: auto;
  margin-top: 200px;
}

#header {
  font-family: 'Righteous', sans-serif;
  font-size: 3rem;
}

h2 {
  font-family: 'Righteous', sans-serif;
}

.book-list {
  margin-top: 50px;
  visibility: hidden;
}